@CHARSET "UTF-8";
/*
 * Debug info
 */

.TTdbg {
	font-family			: Arial, sans-serif;
	font-size			: 6pt;
	clear				: left;
}
table.TTdbg {
	padding				: 3px 3px 3px 3px;
	border				: 1px solid #666666;
	width				: 80%;
}
tr.TTdbgr0 {
	background-color	: #cccccc;
	color				: #333333;
}
tr.TTdbgr1 {
	background-color	: #aaaaaa;
	color				: #111111;
}
