@CHARSET "UTF-8";
/**
 * \file
 * Style sheet for OWL generated output
 * \author Oscar van Eijk, Oveas Functionality Provider
 * \version $Id: owl.css,v 1.3 2011-05-25 12:04:30 oscar Exp $
 */

/*
 * Exception handler
 */
.exception {
	font-family : monospace;
}

.stackdump {
	color : #990044;
	font-style : italic;
}

/*
 * Footer displaying the software and version
 */
.versioninfo {
	font-family : Helvetica, sans-serif, fantasy;
	color : black;
	font-size : 8pt;
}

/*
 * OWL Timers
 */
.OWLtimers, .OWLtimerWarnings {
	font-family			: Arial, sans-serif;
	font-size			: 8px;
}
.OWLtimers {
	color				: #333333;
}
.OWLtimerWarnings {
	color				: #aa3333;
}
