options:
	--tell
	--html
	--multidoc
	--toc
	--syntaxcolors
	--internal
	--tabsize 4
	--index
	--sections
	--nopre
	--documenttitle "JavaScript library for Terra-Terra"
	--doc "/home/oscar/projects/terra-terra/docs/terra-terra/js/html"
	--src "/home/oscar/projects/terra-terra/src/js"
	--css "/home/oscar/projects/terra-terra/docs/ttstyle.css"

items:
	NAME
	DESCRIPTION
	INPUTS
	OUTPUTS
	RESULT
	SYNOPSIS
	SOURCE
	EXAMPLE
	AUTHOR
	HISTORY
	TODO
	DERIVED FROM
	DERIVED BY
	NOTES
	WARNINGS
	SEE ALSO
	COPYRIGHT
	LICENSE

preformatted items:
	EXAMPLE
	SOURCE

source items:
	SYNOPSIS

item order:
	NAME
	DESCRIPTION
	INPUTS
	OUTPUTS
	RESULT
	SYNOPSIS
	SOURCE
	EXAMPLE
	AUTHOR
	HISTORY
	TODO
	COPYRIGHT
	LICENSE

headertypes:
	p	"Plugins"		robo_plugins
	I	"Introduction"	index			2
