;
; This file contains the core configuration for OWL-PHP.
; It should NEVER be stored in the DOCUMENT_ROOT!
; $Id: owl_config.cfg,v 1.15 2011-04-26 11:45:45 oscar Exp $
;
;
; To make sure values are not displayed when the config array is dumped using
; print_r() or any other method, label the item name with '(hide)'.
; This is default for the database password.
;
;
; Some of the configuration issues can be overwritten with the dynamic configuration,
; in which case this file just provides some defaults.
; Use the database to change the values.

;
;#########################################################
; General setting
;

; Debug mode; when TRUE, extra status changes will be made.
; When the logging|log_level below is higher than OWL_DEBUG, setting
; debug to TRUE will only consume more CPU and produce no results in message logging.
; However, 'true' will result in loading owl.debug.functions.php i.s.o.
; owl.nodebug.functions.php, and untranslated labels will be preceded by '(!)'
debug = true

;
; If set to true, all messages are signalled using the JavaScript 'alert()' function.
; Otherwise, the message text is written to the output stream.
js_signal = true

; Character set
charset = UTF-8

; Key to use for en- & decryptions. This setting cannot be hidden!
crypt_key = @AI!zz3sz`!vjeq!`q'wsdf/awhg}vi

; Set the following to true (default) to use the OWL tables for core functionality.
; The OWL tables that will be used are all tables with the owlprefix (e.g. to sore the
; basic user info and the session data).
;owltables = true

;#########################################################
; Specify how to connect to the database

; Prefix for table names
dbprefix = owl_

; Prefix for OWL core table names. This setting should NOT be overwritten by applications.
; This is prevented by the '(!)'
(!)owlprefix = owl_

; Name of the database server
dbserver = localhost

; Name of the database
dbname = owl

; User to connect with
dbuser = oscar

; Password to connect with (this item is hidden when the config
; array is shown; see above)
(hide)dbpasswd = cosyro

;
;#########################################################
; Logging information
;

; When set to TRUE, each run creates an own logfile
logging|multiple_file = false

; When set to TRUE, the logfile will remain opened throughout the run
logging|persistant = true

; The name of the logfile
logging|filename = OWL_LOG/owl.log

; Severity level at which status changes will be logged
logging|log_level = OWL_DEBUG
;logging|log_level = OWL_WARNING

; Severity level at which traceback information is written to the logfile
; To disable this completely, make sure it's higher than (or equals to)
; exception|throw_level below
logging|trace_level = OWL_CRITICAL

; Set to TRUE to make sure passwords are never written to the logfile
logging|hide_passwords  = true

;
;#########################################################
; Exception handling
;

; When set to TRUE, traceback information is displayed in the browsed.
; If this is FALSE, the tracing info is only in the logfile and the browser
; will show a messages refering to the logfile.
exception|show_in_browser = false

; When set to TRUE, all function calls will be shown including their parameters, otherwise
; just the datatype (both in the logfile and the browser).
; Default is false
exception|show_values = false

; When show_values is FALSE, this is ignored. Otherwise is't the maximum number of characters
; of the parameter values that are shown.
; Default is 30
exception|max_value_len = 30

; Minimum severity level to throw exceptions
exception|throw_level = OWL_BUG

; To prevent certain aguments, like passwords, to be displayed in stackdumps,
; they can be given in a comma-seperated list as <classname>-><method>:<argument-count>
exception|hide_arguments = User->login:2,UserHandler->login:1

;#########################################################
; Locale information. All of these will be overwritten with the
; dynamic config in the database; these are just the defaults.
;

; Format of displayed date values
locale|date = d-M-Y

; Format of displayed time values
locale|time = H:i

; Format of displayed datetime values
locale|datetime = d-M-Y H:i:s

; Format of the date in logging timestamps
locale|log_date = d-m-Y

; Format of the time in logging timestamps
locale|log_time = H:i:s.u

; Language
locale|lang = en-uk

;#########################################################
; Session information
;

; Encryption method to use for passwords
session|password_crypt = sha1

; Lifetime for a session in seconds, can be overwritten with dynamic config
session|lifetime = 1440

; Minimal password strength: 0 (no password) - 10 (very strong password)
; 2 is normal for regular sites, 3 is strong.
; Set to 0 to disable this check (e.g. when a JavaScript check is used)
; Can be overwritten with dynamic config
session|pwd_minstrength = 3

; Session cookie name
session|name = ICVSession

; Some known filetypes.
files|types|image = /gif/jpg/jpeg/png/swf/psd/bmp/
files|types|archive  = /gzip/gz/Z/zip/arj/zoo/tar/bzip2/bz2/
files|types|webdocument = /html/php/
files|types|script = /php/


; List the ASCII and Binary file types. Not all types have to be
; listed here; if a type can be both ASCII and Binary (e.g. <filename>.dat),
; don't include /dat/ in either of the lists; the File class will make an
; attempt to determin what it is, so only types are *always* ASCII or Binary
; should be listed here!
files|format|binary = /zip/gz/tar/arj/gif/jpg/jpeg/png/swf/psd/bmp/pdf/exe/
files|format|ascii  = /txt/html/php/js/asp/phtml/xhtml/
